* {
  margin: 0;
  padding: 0;
}

html, body{
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #9ad5ff;  
}

body {   
  width: 400px;
  min-height: 100vh;  
}

#app {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  max-width: 100%;
  max-height: 100%;  
}

.inputs {
  margin: 16px auto;
}

button {  
  width: 30px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px; 
  color: #fff;  
  margin-left: 8px;  
  background-color: #9ad5ff;
  border-radius: 50%;
  border: solid 2px #4db5ff;  
  transition-duration: 0.2s;  
}

button:hover {
  background-color: #4db5ff;  
}

 button:active {
  background-color: #d7d7d7;
  color: #4db5ff;
 }

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #808bff;
  padding: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: #4db5ff;
  background-color: #80caff;
}

::placeholder {  
  font-weight: 300;
  color: #fff;
  opacity: 1;
}

.todos {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;   
}

.newTodo {
  border: solid 2px #80caff;
  border-radius: 8px;
  background-color: #9ad5ff;
}

ul, li {  
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul {
  width: 100%;  
}

li {
  max-width: 100%;
  padding: 6px 0;
  padding-left: 1.3em; 
  color: #808bff;
  line-height: 22px;  
}

li:before {
  content: "\f192";
  font-family: FontAwesome;
  font-size: 10px;
  display: inline-block;
  margin-left: -1.3em; 
  width: 1.3em; 
}

a {  
  float: inline-end; 
  margin: 0 10px; 
  font-size: 14px;
  color: #fff;
  text-decoration: none;  
}
